.habitTable table {
	border-collapse: collapse;
	width: 100%;
}

.habitTable th, .habitTable td {
	border: 1px solid #ccc;
	padding: 8px;
	text-align: left;
}

.habitTable th {
	background-color: #f5f5f5;
}
